  <!-- Navigation -->
  <header class="cd-main-header animate-search">
    <div class="cd-logo"><a href="/index.html">{% img cd-logo alt:'logo' %}</a></div>
    <nav class="cd-main-nav-wrapper">
      
      <ul class="cd-main-nav">
        <li><a href="/">Blog</a></li>
        <li><a href="#personal">Personal Information</a></li>
        <li><a href="#mywork">Work Experience</a></li>
        <li><a href="#educational">Educational</a></li>
        <li><a href="#skills">Skills</a></li>
      </ul> <!-- .cd-main-nav -->
    </nav> <!-- .cd-main-nav-wrapper -->
    <a href="#" class="cd-nav-trigger cd-text-replace">Menu<span></span></a>
  </header>
