  <div id="search" class="cd-main-search">
    <form>
      <input type="search" placeholder="Search...">

      <div class="cd-select">
        <span>in</span>
        <select name="select-category">
          <option value="类 别">类 别</option>
          {% for category in site.categories %}
            {% if category.first != "-" %}<option value="{{ category | first }}">{{ category | first }}</option>{% endif %}
          {% endfor %}
          <option value="other">other</option>
        </select>
        <span class="selected-value">类 别</span>
      </div>
    </form>

    <div class="cd-search-suggestions">
      <div class="news">
        <h3>搜索结果</h3>
        <ul></ul>
      </div> <!-- .news -->

      <div class="quick-links">
        <h3>快捷链接</h3>
        <ul>
          <li><a href="/about.html">About Me</a></li>
          <li><a href="/contact.html">Contact</a></li>
          <li><a href="/resume.html">Resume</a></li>
        </ul>
      </div> <!-- .quick-links -->
    </div> <!-- .cd-search-suggestions -->

    <a href="#" class="close cd-text-replace">Close Form</a>
  </div> <!-- .cd-main-search -->
  <div class="cd-cover-layer"></div> <!-- cover main content when search form is open -->
  <script>
  let postMap = {
  {% for category in site.categories %}'{{ category | first }}':[],{% endfor %}
  };
  {% for post in site.posts %}
  postMap['{{ post.categories | first }}'].push({
    title: '{{ post.title }}',
    subtitle: '{{ post.subtitle }}',
    url: '{{ post.url }}',
    date: '{{ post.date| date: "%Y-%m-%-d"}}',
  });
  {% endfor %}
  </script>
  {% js search %}
