---
layout: default
---

    {% include ptheader.html %}

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                {{ content }}
                <div id="disqus_thread"></div>
            </div>
        </div>
    </div>

    <hr>
<link rel="stylesheet" href="/css/github.min.css">
<style>
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 18px;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
    border-color: grey;
    font-size: 16px;
    line-height: 1.5;
}

thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

table tr {
    background-color: #fff;
    border-top: 1px solid #ccc;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

table th, table td {
    padding: 6px 13px;
    border: 1px solid #ddd;
}

td, th {
    display: table-cell;
    vertical-align: inherit;
}
</style>
<script src="/js/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
<script>
/**
* RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
* LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
*/
/*
var disqus_config = function () {
this.page.url = PAGE_URL; // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');

s.src = '//jerrylou.disqus.com/embed.js';

s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
